@charset "UTF-8";

/* Paleta de cores 

#EBD398
#EBE79B
#EBDE9C
#EBCA9B
#D6EB9B
#EBE3BD

*/ 

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #EBE79B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 280px;
    height: 550px;
    border-radius: 20px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.445);

    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #EBE79B url(../imagens/imagem-tela-login.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {

    font-size: 0.8em;
}

form > div.campo {
    background-color: #f5c766d8;
    border: 2px #f5c766d8;;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    font-size: 1.5em;
    padding: 5px;
    width: 40px;
}

div.campo > input {
    background-color: #ebe3bdbd;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    border: none;
    outline: none;
    transform:  translateY(-3.4px);
    
    
}

div.campo > input:focus-within{
    background-color: white;
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #EBCA9B;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

form > input[type=submit]:hover {
    background: #EBE3BD;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    color: #f89202;
    background-color: white;
    border: 1px solid #b6b6b579;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #ebe3bda1;
}


form > a.botao > span {
    font-size: 0.8em;
}